<div id="mobileWrapper">

    <div id="logo">
        <img width="250" height="85" src='/static/images/logo.jpg' style="float:left" />
    </div>

    <button id="feedFireButton"><img width="25" src="/static/images/fire_icon.png" style="float:left"/> <span>Feed Fire</span> <img width=25 src="/static/images/fire_icon.png" style="float:right"/></button>
    <br>

    <h2>Playing Now</h2>
    <h3 id="songTitle" class="songTitle">Cry Me a River</h3>
    <h3 id="songArtist" class="songArtist">Justin Timberlake</h3>

    <div id="controlPanel">
        <div id="volume">
            <button class="volume-button" data-vol="-1"><img src="/static/images/dec_volume.png"/></button>
            <button class="volume-button" data-vol="1"><img  src="/static/images/inc_volume.png"/></button>
        </div>
        <button>See Playlist</button><a href = "https://waterfire.org/support/donate/"><button>Donate</button></a>
    </div>
</div>
<audio id="goodsound" src = "/static/sounds/success.mp3" type = "audio/mp3" preload="auto"></audio>
<audio id="errorsound" src = "/static/sounds/error.mp3" type = "audio/mp3" preload="auto"></audio>
<script type="text/javascript">
    $('#down')
    .button()
    .click(function() {
        // up clicked
    })
    .next()
    .button()
    .click(function() {
        // down clicked
    })
    .parent()
    .buttonset();
</script>
