<div id="mobileWrapper">
    <button id="feedFireButton"><img width=25 src="/static/images/fire_icon.png" style="float:left"/> Feed Fire <img width=25 src="/static/images/fire_icon.png" style="float:right"/></button>
    <br>

    <h2>Playing Now</h2>
    <h3>Artist: <span>Justin Timberlake</span></h3>
    <h3>Title: <span>Cry Me a River</span></h3>

    <button class="volumeButton" data-json='{"dir":-1}'>&#8595; Volume</button><button class="volumeButton" data-json='{"dir":1}'>&#8593; Volume</button>
</div>