<div id="mobileWrapper">

    <div id="logo">
        <img width="250" height="85" src='/static/images/logo.jpg' style="float:left" />
    </div>

    <button id="feedFireButton"><img width="25" src="/static/images/fire_icon.png" style="float:left"/> <span>Feed Fire</span> <img width=25 src="/static/images/fire_icon.png" style="float:right"/></button>
    <br>

    <h2>Playing Now</h2>
    <h3 class="songTitle">Cry Me a River</h3>
    <h3 class="songArtist">Justin Timberlake</h3>

    <div id="controlPanel">
        <div id="volume">
            <button class="volume-button" data-vol="-1"><img src="/static/images/dec_volume.png"/></button>
            <span style="display:inline-block;width:1px;background-color:black"></span>
            <button class="volume-button" data-vol="1"><img  src="/static/images/inc_volume.png"/></button>
        </div>
        <button>See Playlist</button><a href = "https://waterfire.org/support/donate/"><button>Donate</button></a>
    </div>
</div>

<script type="text/javascript">

</script>