html{
	min-width: 800px;
}

#mappane{
	width: 60%;
	height: 600px;
	display:inline-block;
}

#map{

}

#infopane{
	margin-left: 10px;
	position: fixed;
	width: 39%;
	height: 600px;
	display:inline-block;
	vertical-align: top;
}

#infopane h3{
	margin: 5px 0px 5px 0px;
}

#infopane p{
	margin: 2px 0px 2px 0px;
}

.speaker{
	border-radius: 10px;
}