@import "master";

$width:1040px;

div#main-div
{
  width:$width;
  margin:auto;
  text-align:center;
}

div#mobileWrapper
{
  width:250px;
  margin:auto;
  margin-top:50px;
  border: 1px solid black;
}

button#feedFireButton
{
  width:250px;
  font-size:24px;
  margin:auto;
}

button
{
  margin:auto;
  font-size:18px;
  width:125px;
  padding:10px;
  font-family:"sonus";
}

h2
{
  span
  {
    font-size:18px;
  }
}

h3
{
  span
  {
    font-weight:lighter;
  }
}
