@font-face {
  font-family: "sonus";
  src: url("../resources/SonusLig.otf"); }

body {
  margin: 0 0 0 0;
  padding: 0;
  width: 100%;
  font-family: "sonus","Helvetica",sans-serif; }

div#main-div {
  width: 1040px;
  margin: auto;
  text-align: center; }

div#mobileWrapper {
  width: 250px;
  margin: auto;
  margin-top: 50px;
  border: 1px solid black; }

button#feedFireButton {
  width: 250px;
  font-size: 24px;
  margin: auto; }

button {
  margin: auto;
  font-size: 18px;
  width: 125px;
  padding: 10px;
  font-family: "sonus"; }

h2 span {
  font-size: 18px; }

h3 span {
  font-weight: lighter; }
